{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
  <section class="slider_section ">
          <div class="slider_bg_box">
            <img src="{% static 'ws_app/images/slider-bg.jpg' %}" alt="">
          </div>
          <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container ">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="detail-box">
                        <h1>
                          Stylish Watches
                        </h1>
                        <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                        </p>
                        <div class="btn-box">
                          <a href="{% url 'contact' %}" class="btn1">
                            Contact Us
                          </a>
                          <a href="{% url 'about' %}" class="btn2">
                            About Us
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container ">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="detail-box">
                        <h1>
                          Stylish Watches
                        </h1>
                        <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                        </p>
                        <div class="btn-box">
                          <a href="" class="btn1">
                            Contact Us
                          </a>
                          <a href="" class="btn2">
                            About Us
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container ">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="detail-box">
                        <h1>
                          Stylish Watches
                        </h1>
                        <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                        </p>
                        <div class="btn-box">
                          <a href="" class="btn1">
                            Contact Us
                          </a>
                          <a href="" class="btn2">
                            About Us
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container ">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="detail-box">
                        <h1>
                          Stylish Watches
                        </h1>
                        <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                        </p>
                        <div class="btn-box">
                          <a href="" class="btn1">
                            Contact Us
                          </a>
                          <a href="" class="btn2">
                            About Us
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container ">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="detail-box">
                        <h1>
                          Stylish Watches
                        </h1>
                        <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                        </p>
                        <div class="btn-box">
                          <a href="" class="btn1">
                            Contact Us
                          </a>
                          <a href="" class="btn2">
                            About Us
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
              <li data-target="#customCarousel1" data-slide-to="1"></li>
              <li data-target="#customCarousel1" data-slide-to="2"></li>
              <li data-target="#customCarousel1" data-slide-to="3"></li>
              <li data-target="#customCarousel1" data-slide-to="4"></li>
            </ol>
          </div>

        </section>
  <section class="service_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'ws_app/images/feature-1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Fast Delivery
              </h5>
              <p>
                variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'ws_app/images/feature-2.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Free Shiping
              </h5>
              <p>
                variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'ws_app/images/feature-3.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Best Quality
              </h5>
              <p>
                variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'ws_app/images/feature-4.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                24x7 Customer support
              </h5>
              <p>
                variations of passages of Lorem Ipsum available
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "about_content.html" %}
  <section class="product_section ">
    <div class="container">
      <div class="product_heading">
        <h2>
          New Arrivals
        </h2>
      </div>
      <div class="product_container">
          {% for product in products|slice:":3" %}
          <div class="box">
            <div class="box-content">
              <div class="img-box">
                <img src="{{ product.image.url }}" alt="">
              </div>
              <div class="detail-box">
                <div class="text">
                  <h6>
                    {{ product.name }}
                  </h6>
                  <h5>
                    <span>$</span> {{ product.price }}
                  </h5>
                </div>
                <div class="like">
                  <h6>
                    Like
                  </h6>
                  <div class="star_container">
                    {% for _ in product.rating|get_star_range %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-box">
              <a href="{% url 'add_to_cart' product.id %}">
                Add To Cart
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </section>
  {% include "contact_content.html" %}
  {% include "testimonial_content.html" %}
{% endblock %}