{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
  <div class="cart-container">
    <h2>Your Cart</h2>
    {% if cart_items %}
    <form method="post">
      {% csrf_token %}
      <table class="table">
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Action</th>
        </tr>
        {% for cart_item in cart_items %}
          <tr>
            <td>{{ cart_item.product.name }}</td>
            <td>{{ cart_item.product.price|floatformat:2 }}</td>
            <td>
              <input type="number" name="quantity_{{ cart_item.id }}" value="{{ cart_item.quantity }}" min="1"
           data-price="{{ cart_item.product.price }}" class="quantity-input">
            </td>
            <td>{{ cart_item.subtotal|floatformat:2 }}</td>
            <td class="action-column">
              <a href="{% url 'delete_from_cart' cart_item.id %}" class="remove-btn">
                <img src="{% static 'ws_app/images/cancel.svg' %}" class="cancel-sgn">
              </a>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="3">Total:</td>
          <td>
            {{ cart_items|total_price }}
          </td>
          <td></td>
        </tr>
        <tr class="cumulative-discount">
          <td colspan="3">Including Cumulative Discount ({{ cumulative_discount }}%):</td>
          <td>
            {{ grand_total|floatformat:2 }}
          </td>
          <td></td>
        </tr>
        <tr class="grand-total">
          <td colspan="3" class="grand-total-label">Grand Total:</td>
          <td class="grand-total">
            {{ grand_total|floatformat:2 }}
          </td>
          <td></td>
        </tr>
      </table>
      <div class="btn-box">
        <button type="submit" name="action" value="save" class="save-btn">Save Changes</button>
        <button type="submit" name="action" value="checkout" class="checkout-btn">Proceed to Checkout</button>
      </div>
    </form>
    <div class="btn-box lnk-back">
      <a href="{% url 'index' %}">Back to Main Page</a>
    </div>
    {% else %}
    <p>No items to display</p>
    {% endif %}
  </div>
{% endblock %}
