  <div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2>Want to keep up to date with the latest transfers?</h2>
          <h4>Subscribe to our newsletter</h4>
        </div>
        <div class="col-lg-4">
          <div class="border-button">
            <a href="#">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2023 <a href="#">Transfer Media</a> Company. All rights reserved.</a></p>
        </div>
      </div>
    </div>

  </footer>

  </body>

</html>